PORT=3000
# HOST=127.0.0.1
HOST=postgres
USER=postgres
PASSWORD=1999
DB=testNodeJS
DIALECT=postgres
DB_PORT=5432

# Use the MOCK_TOKEN value to set the x-access-token header for each request
MOCK_TOKEN=erzhan$vstavai